<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Text counter" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Number of words in a text. Time to write, speak. Analysis of the text. Advanced text counter by Nadvence" %>">
<%= favicon_link_tag 'favicon.png' %>